.App {
  background-color: #ebfeff;
  text-align: center;
  color: white;
}

.form input{
  width: 300px;
  height: 60px;
  margin: 10px;
}

ul {
  text-align: center;
}
  
li {
  display: inline-block;
}

/* SIGN UP */

.signUpForm{
  font-family: "Oxygen";
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin: auto;
}

.signUpForm .left {
  left: 0;
  background-color: #1d3c4b;
}

/* Control the right side */
.signUpForm .right {
  right: 0;
  background-image:linear-gradient(47deg, rgba(224,211,167,0.8300362381280637) 0%, rgba(197,142,36,0.7964227927499125) 100%), 
  url("C:\Users\annar\Desktop\SociableProject\sociable\images\background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.input{
  padding: 5 0 5 0;
}

/*for both sign up AND log in pages*/
.input input[type=text], input[type=password]{
  border: none;
  padding: 5 50 5 50;
  border-radius: 10px;
  background-color: #cbd4d8;
}

.input select{
  border: none;
  padding: 5 100 5 100;
  border-radius: 10px;
  background-color: #cbd4d8;
  color: #1d3c4b94;
}

::placeholder{
  color: #1d3c4b94;
  text-align: center;
}

.signUpForm h1{
  padding-bottom: 10;
}

.signUp, .logIn, .LogInReroute, .signUpReroute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*for both sign up and log in*/
.signUp button, .loginForm button{
  padding: 10 20 10 20;
  margin-top: 15;
  border: none;
  background-color: #e7980fda;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  box-shadow:0 0 25px #17303c;
}
/*for both sign up and log in*/
.signUp button:hover, .loginForm button:hover{
  background-color: #ffb83eda;
}

.LogInReroute h2{
  margin-bottom: 35px;
}

.LogInReroute a, .signUpReroute a{
  padding: 10 50 10 50;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bolder;
  color: #214557;
  letter-spacing: 2px;
  box-shadow:0 0 25px #a77b2fda;
}

.LogInReroute a:hover, .signUpReroute a:hover{
  background-color: #1d3c4b;
  color: white;
}

/* LOG IN */

.loginForm .left {
  left: 0;
  background-image:linear-gradient(47deg, rgba(224,211,167,0.8300362381280637) 0%, rgba(197,142,36,0.7964227927499125) 100%), 
  url("C:\Users\annar\Desktop\SociableProject\sociable\images\background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Control the right side */
.loginForm .right {
  right: 0;
  background-color: #1d3c4b;
}

.loginForm{
  font-family: "Oxygen";
}

.loginForm h1{
  padding-bottom: 15;
}

.logIn input[type=password]{
  margin-bottom: 15;
}

.signUpReroute h1{
  margin-bottom: 20;
}


Nav h1{
  font-weight: bold;
}

Nav a:hover{
  color: #e7980fda;
}

.Home{
  font-family: "Oxygen";
}

.Home h1{
  padding: 20 10 10 10;
  color: #1d3c4b;
}

.Home input[type="text"]{
  text-align: center;
  margin-right: 5;
  width: 500;
  padding: 11.5 0 11.5 0;
  border: 1px solid #71989b;
  background-color: #e4eef3;
  border-radius: 10px;
}

.Home button{
  padding: 5 20 5 20;
  margin: 10 0 40 0;
  border: none;
  background-color: #e7980fda;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  box-shadow: 0 0 3px #17303c5d
}

.Home button:hover{
  background-color: #ffb83eda;
}

.user{
  display: inline;
  padding-right: 200;
  font-size: 12;
  color: rgba(255, 255, 255, 0.878);
}

.time{
  display: inline;
  font-size: 12;
  color: rgba(255, 255, 255, 0.878);
  font-style: italic;
}